.wrapper {
  font-family: monospace;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  background-color: darkslateblue;
  color: white;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  min-width: 10rem;
}

.clockLoader {
  font-family: monospace;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  background-color: silver;
  color: silver;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  min-width: 10rem;
}
