.postCard {
  padding: 1rem;
  border: 2px solid rgb(144, 187, 223);
  border-radius: 2rem;
  background-color: aliceblue;
  cursor: pointer;
  width: 16rem;
  height: 16rem;
  overflow: hidden;
}

.postCard:hover,
.postCard:focus-visible {
  background-color: rgb(197, 220, 239);
}

.postModal {
  padding: 1rem;
  border: 1px solid rgb(144, 187, 223);
  border-radius: 2rem;
  background-color: aliceblue;
  width: 17rem;
  height: 17rem;
  font-size: 1.125rem;
}

.postTitle {
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.postBody {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 520px) and (max-width: 900px) {
  .postCard {
    width: 13rem;
    height: 13rem;
  }
}

@media (min-width: 768px) {
  .postModal {
    width: 25rem;
    height: 25rem;
    font-size: 1.5rem;
  }
}
