.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summaryContainer {
  width: 100%;
  border: 2px solid rgb(144, 187, 223);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  background-color: rgb(197, 220, 239);
  font-size: 1.125rem;
}

.summaryItem {
  padding: 0 0.75rem;
  margin: 0.75rem 0;
}

.postsContainer {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 520px) {
  .postsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
  .summaryItem {
    margin: 1rem 0;
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }

  .leftSubSection,
  .rightSubSection {
    display: flex;
  }

  .summaryItem:not(:first-of-type) {
    border-left: 2.5px solid slategrey;
  }
}

@media (min-width: 768px) {
  .postsContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }

  .summarySection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .rightSubSection {
    justify-content: flex-end;
  }
}
